<div class="main">
    <div class="future-ready">
        <h1>Future-ready applications</h1>
        <p>Accelerate innovation and growth with technology at the core to power 360° value at scale.</p>
    </div>

    <div class="Innovation-led">
        <div class="Innovation">
            <h1>Innovation-led application services</h1>
        </div>
        <div nz-row class="innovation-section">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="Innovation-para">
                <p class="first">For most companies, complex application landscapes—with a mix of legacy systems, digital and SaaS—consume too large a share of IT resources and restrict their ability to drive growth.</p>
                <p class="second">Our application services help you reimagine your application landscape, with speed and agility, while continuously innovating to realize business value.</p>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12"class="Innovation-para-second">
                <div class="Innovation-para-single">
                    <p>"Innovation should be at the heart of your applications"</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div class="end-to-end-head">
                <h2>End-to-end application services</h2>
            </div>
            <div>
                <p>From the development of new applications, through modernization, management and maintenance, we cover all stages of the application lifecycle.</p>
            </div>
        </div>
        <div>
            <div nz-row nzJustify="space-around" class="services-box">
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-agile">
                        <h3>Agile transformation</h3>
                    <div>
                        <p>Drive disruption by applying Lean principles to achieve substantial performance improvements, accelerating business change.</p>
                    </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-application">
                        <h3>Application management</h3>
                    <div>
                        <p>Future-proof your application portfolio with innovation that pays for itself.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div nz-row nzJustify="space-around" class="services-box">
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-agile">
                        <h3>Application modernization</h3>
                    <div>
                        <p>Transform your legacy applications to become more agile and efficient through the power of New IT.</p>
                    </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-application">
                        <h3>Architecture</h3>
                    <div>
                        <p>Plan and deliver a foundational technology architecture to maximize scalability and performance.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div nz-row nzJustify="space-around" class="services-box">
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-agile">
                        <h3>Automation</h3>
                    <div>
                        <p>Intelligent automation, like RPA (robotic process automation), natural language processing and virtual agents, can help you improve efficiency and productivity in many ways.</p>
                    </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-application">
                        <h3>DevOps</h3>
                    <div>
                        <p>Streamline IT by bringing business, development and operations teams together and applying automated processes.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div nz-row nzJustify="space-around" class="services-box">
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-agile">
                        <h3>Quality engineering</h3>
                    <div>
                        <p>Achieve better experiences, faster responses, greater insights and lower risks with Accenture Quality Engineering Services.</p>
                    </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="services-box-agile-application">
                    <div class="services-box-application">
                        <h3>Software engineering</h3>
                    <div>
                        <p>Turn innovative ideas into business differentiation with custom capabilities.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
