<div class="main">
  <div class="bgImg">
    <div class="wrapper">
    <!-- <div class="logo">
        <img src="../../assets/img/cyber_security/root-trinics-logo.jpg" alt="">
      </div>-->
      <div class="content">
        <h3>Root Tronics Technologies</h3>
       </div>
      <div class="content">
       <h3>About Us</h3>
      </div>
    </div>
  </div>

  <div>
    <div nz-row class="section2-content-image">
      <!-- <div nz-col [nzSpan]="16" [nzPush]="8" class="section2-content"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section2-content">
        <p>
          <b>Root Tronics Technologies</b> is a leading IT services and consulting company,
          funded by <b>Royal International</b>. Royal International is a big logistics organization, which is provide the services in packaging and moving IT Infrastructure assets, having 300 million INR.
          We provide solutions and services across application and technology
          modernization, cloud enablement, data management, automation and assurance
          services. For over 5 years now, we have been co-authoring transformational
          success for leading global enterprises and promising start-ups alike –
          across geographies and industry verticals.
        </p>
        <p>
          <b>Services Capabilities</b> Application Services | Artificial Intelligence | Automation | Cloud & DevOps | Data & Analytics | Digital Commerce | Finance Consulting | Infrastructure Security Supply Chain Management | Technology Consulting | Technology Innovation.
          </p>
    
          <p><b>Technology Capabilities</b> Cloud | Infrastructure Engineering | Data | Technology Transformation | Technology Innovation | Platform Services | Software Engineering | Securities | Automation | Application Management.</p>
         
          <p><b>Domain Capabilities</b>
          BFSI | Health Care | Education | NGO | Cloud Infrastructure Engineering Manufacturing | Block chain | AI | Machine Learning | Robotics | Data Science | Data Analysis Enterprise Integration Tools
          We have delivered multiple projects in homogeneous domains. We are capable in implementing complex business with secure, durable and scalable service. We expertise in helping in order to make highly valuable business to our clients.
        </p>
      </div>
      <!-- <div nz-col [nzSpan]="8" [nzPull]="16" class="section2-image"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section2-image">
        <img src="../../assets/img/cyber_security/aboutsImg.png" alt="aboutsImg" width="100%">
      </div>
    </div>
  </div>

  <div class="elementor-spacer">
    <div class="elementor-spacer-inner"></div>
  </div>

  <div>
    <div nz-row class="section3-content-video">
      <div nz-col [nzSpan]="12" [nzPush]="12" class="section3-content-video">
        <img src="../../assets/img/cyber_security/abt-pp.jpg" alt="aboutsImg" width="100%">
      </div>
      <div nz-col [nzSpan]="12" [nzPull]="12" class="section3-content">
        <p>
          Through a well-defined development, support and quality framework, we consult
          enterprises on their transformation roadmap and implement business-critical
          technologies along with the underlying infrastructure. With our in-depth expertise
          and robust experience in Enterprise Application Services, Data Analytics, Digital
          Experience Management, Automation solutions and Cloud services, we deliver tangible
          value for businesses in terms of operational efficiency, cost-effectiveness, intelligent
          automation and information security.
        </p>
        <p>
          Having served some of the Fortune 10 companies globally and many of the leading banks
          and insurance companies in India, we have consistently contributed towards embellishment
          of their technology, agility and efficiency while harnessing innovations.
        </p>
      </div>
    </div>
  </div>

  <div class="section4">
    <div nz-row class="section4-image-content">
      <!-- <div nz-col [nzSpan]="16" [nzPush]="8" class="section4-content"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section4-content">
        <p>
          Root Tronics Technologies is an Oracle Platinum Partner. It is Oracle’s focused partner for
          platform and infrastructure cloud services, as well as ERP cloud. The 100 people
          strong company has focused practice teams handling Oracle, Microsoft and open source
          technology areas.
        </p>
        <p>
          The company has a strong pan-India presence. It serves its customers in
          Middle-East and Africa market through its office based in India.
        </p>
      </div>
      <!-- <div nz-col [nzSpan]="8" [nzPull]="16" class="section4-image"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section4-image">
        <img src="../../assets/img/cyber_security/Image.jpg" alt="aboutsImg" width="100%">
      </div>
    </div>
  </div>

  <div class="section5-elementor-spacer">
    <div class="section5-elementor-spacer-inner"></div>
  </div>

  <div class="section5">
    <div nz-row class="section5-content5-image5">
      <!-- <div nz-col [nzSpan]="8" [nzPush]="16" class="section5-image5"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section5-image5">
        <img src="../../assets/img/cyber_security/cyber_security.jpg" alt="aboutsImg" width="100%">
      </div>
      <!-- <div nz-col [nzSpan]="16" [nzPull]="8" class="section5-content5"> -->
        <div nz-col nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section5-content5">
        <p>
          Neda Chaudhary, Ayesha Chaudhary, Shashi Rajbhar a serial entrepreneur, is the founder and MD of Root Tronics Technologies.
          Those has been leading the growth of several companies under the umbrella brand
          “Root Tronics” and has established a strong presence for the Root Tronics Group in areas such
          as information technology, transaction systems, and renewable energy. 
        </p>
      </div>
    </div>
  </div>

  <div class="section6-elementor-spacer">
    <div class="section6-elementor-spacer-inner"></div>
  </div>

  <div class="section6">
    <div nz-row class="section6-content-blank">
      <!-- <div nz-col [nzSpan]="16" [nzPush]="8" class="section6-content"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section6-content">
        <div class="section6-head-para">
          <h3>Our Approach</h3>
          <p>
            We believe in delivering tangible results for our customers in a cost-effective
            manner. We do this through a consultative, solution-based approach wherein we
            gather in-depth understanding of the customer’s requirements and facilitate
            customized solutions.
          </p>
        </div>
      </div>
      <!-- <div nz-col [nzSpan]="8" [nzPull]="16" class=""> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="">
        <!-- <img src="../../assets/img/cyber_security/aboutsImg.png" alt="aboutsImg" width="100%"> -->
      </div>
    </div>
  </div>

  <div class="section7-elementor-spacer">
    <div class="section7-elementor-spacer-inner"></div>
  </div>

  <div class="section7">
    <div nz-row class="section7-image-content">
      <!-- <div nz-col [nzSpan]="16" [nzPush]="8" class="section7-conten"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section7-conten">
        <p>
          In the process, we ensure greater efficiency and predictability for businesses
          by being a preferred and dependable IT partner.
          Our process-based approach towards project execution and
          infrastructure support is among the best in the industry. Our delivery model is
          structured around customer needs to ensure flawless execution.
        </p>
      </div>
      <!-- <div nz-col [nzSpan]="8" [nzPull]="16" class="section7-image"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section7-image">
        <div class="section7-image-top">
          <img src="../../assets/img/cyber_security/shutterstock_530749768-1.jpg" alt="shutterstock" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="section8-elementor-spacer">
    <div class="section8-elementor-spacer-inner"></div>
  </div>

  <div class="section8">
    <div nz-row class="section8-logo-content">
      <div nz-col [nzSpan]="8" [nzPush]="16" class="section8-logo">
        <div class="section8-image-top">
          <img src="../../assets/img/cyber_security/Group-5.png" alt="Group" width="100%">
        </div>
      </div>
      <div nz-col [nzSpan]="16" [nzPull]="8" class="section8-content">
        <p>
          Our Center of Excellence (CoE) is focused on addressing today’s dynamic business
          needs from a technology standpoint and more importantly, from a strategic business
          perspective.
        </p>
      </div>
    </div>
  </div>

  <div class="section9-elementor-spacer">
    <div class="section9-elementor-spacer-inner"></div>
  </div>

  <div class="section9">
    <p>
      <strong>Conceptualize Next generation Digital Solutions:&nbsp;</strong>
      The CoE puts us ahead of the curve in terms of leveraging new age technologies to
      create business critical solutions for our customers.
    </p>
    <p>
      <strong>Create industry relevant Root Tronics Academy:&nbsp;</strong>
      The unit contributes immensely to the training requirements of the talent coming
      into the Root Tronics Academy. CoE also designs courses in alignment with customer’s
      and industry’s requirements.
    </p>
    <p>
      <strong>Ensure Delivery and Operational Excellence:&nbsp;</strong>
      The CoE handles serious escalations that require specialized and niche expertise.
      It addresses automation and modernization requirements to give our customers a
      competitive edge.
    </p>
  </div>

  <div class="section10-elementor-spacer">
    <div class="section10-elementor-spacer-inner"></div>
  </div>

  <div class="section10">
    <div nz-row class="section10-image-content">
      <!-- <div nz-col [nzSpan]="16" [nzPush]="8" class="section10-content"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section10-content">
        <div class="section10-content">
          <p>
            Our approach is highly valued by transaction-centric industries/businesses such as 
            Banking, Financial Services, Insurance, Payments, Telecom, and Retail. We have 
            dedicated technology practices that focus on Enterprise Applications, Data Analytics, 
            Digital Transformation Initiatives, and Cloud Services to deliver innovative 
            solutions for new-age businesses.
          </p>
          <p>
            Our agility, responsiveness, and efficiency in execution is vouched for by all our 
            customers. We operate from major Indian metros to ensure excellent service and 
            customer relationships. In India, we have offices in major metros – Mumbai.
          </p>
        </div>
      </div>
      <!-- <div nz-col [nzSpan]="8" [nzPull]="16" class="section10-image-potrait"> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section10-image-potrait">
        <img src="../../assets/img/cyber_security/Portrait.jpg" alt="Portrait" width="100%">
      </div>
    </div>
  </div>

</div>