[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }

.slide img {
    height: 100%;
    width: 100%;
    outline: none;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

.section2 {
    align-content: center;
    align-items: center;
}

  .content-image img {
      width: 100%;
      height: 100%;
  }

  .image-oppsite {
      padding: 10px;
  }

  .image-oppsite h3 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: bold;
  }

  /* .image-oppsite ::before{
    content: '';
    width: 183px;
    height: 18px;
    background-image: linear-gradient(84deg, #21d4fd, #b523ff 99%, #b721ff);
    opacity: 0.3;
    position: absolute;
    top: 42px;
} */

.image-oppsite p {
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    /* padding: 5px 40px 10px 0px; */
}
  

  .content-button-default {
      top: 34px;
  }

  
.element-service {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: bold;
  }

 .section3-elementor-spacer {
     padding: 10px;
 } 

.section3-elementor-spacer-inner {
    height: 50px;
    margin-bottom: 20px;
}
  
.section4-elementor-spacer-inner {
    height: 30px;
}

  .key-service img {
    padding: 10px 5px 5px 10px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }
  
  .key-service img:hover { 
      color: red;
  }

  .key-services-list {
    position: relative;
    cursor: pointer;
  }

  .key-services-list p {
    position: absolute;
    top: 83px;
    left: 63px;
    color: #f8f9fb;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
  }

.element-heading {
    padding-top: 70px;
    text-align: center;
}

.element-heading h3{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.section5 {
    padding: 110px 0px 110px;
}

.section5-content-slider h3{
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

.section5-content-slider p{
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.section5-content-slider {
    padding: 10px;
}

.section5-slider {
    padding: 10px;
}

.main-content-slider {
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #F5F5F5;
}

.bg-img {
    background-image: url("src/assets/img/cyber_security/cyber_security1.jpg");
    width: 100%;
    height: auto;
    padding: 10px;
    background-position: center;
    background-size: cover;
}

.section6-elementor-spacer-inner {
    height: 50px;
    margin-bottom: 20px;
}

.background-image-content {
    width: 100%;
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.elementor-text-editor {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.elementor-text-explore {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: bold;margin-bottom: 20px;
}

.sectionimg-elementor-spacer-inner {
    height: 140px;
}

.background-imageon {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: -85px;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.elemenator-images {
    display: flex;
}

.background-imageon {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 20px;
}

.background-imageon img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.background-image-size {
    padding: 10px;
}

.background-imageon h3 {
    color: #000000;
    margin-bottom: 10px;
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.background-imageon p {
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.section7-elementor-spacer-inner {
    height: 60px;
}

.clover-academy {
    padding: 10px;
}

.clover-academy h3{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.clover-academy ::before{
    content: '';
    width: 183px;
    height: 18px;
    background-image: linear-gradient(84deg, #21d4fd, #b523ff 99%, #b721ff);
    opacity: 0.3;
    position: absolute;
    top: 30px;
}

.section7inner-elementor-spacer-inner {
    height: 10px;
}

.section7-image {
    margin: -160px 0px 0px 0px;
}

.elementor-section {
    background-color: transparent;
    background-image: linear-gradient(89deg, #21D4FD 0%, #B721FF 88%);
}

.element-section-txt {
    padding: 40px 40px 10px 40px;
}

.element-section-txt p {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.section8-elementor-spacer-inner {
    height: 70px;
    padding: 10px;
}

.section8top-elementor-spacer-inner {
    height: 50px;
    margin-bottom: 20px;
}


.sectionbottom-elementor-spacer-inner {
    height: 50px;
    margin-bottom: 20px;
}

.elementor-img-content {
    background-color: #F5F5F5;
    position: relative;
    padding: 10px;
}

.elementor-img-with-content img {
    width: 100%;
    height: 100%;
}

.elementor-heading h3 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.elementor-heading {
    padding: 10px;
}


/* Media Query */

@media screen and (max-width:768px) {
    .image-oppsite ::before{ 
        width: 162px;
    }
    .image-oppsite h3 {
        font-size: 40px;
    }

    .element-service {
        font-size: 40px;
    }

    .element-heading h3{
        font-size: 32px;
    }

    .background-imageon h3 {
        font-size: 15px;
    }

    

    .background-imageon p {
        font-size: 12px;
    }

    .clover-academy h3{
        font-size: 30px;
    }

    .elementor-heading h3 {
        font-size: 24px;
    }

    .elementor-text-editor {
        font-size: 35px;
    }

    .key-services-list p {
        top: 40px;
        left: 24px;
        font-size: 12px;
      }
}


@media screen and (max-width:480px) {
    .image-oppsite ::before{ 
        width: 151px;
    }

    .section7-image img {
        width: 100%;
    }

    .read-buttom {
        margin-bottom: 155px;
    }

    .elementor-text-editor {
        font-size: 23px;
    }

    .elementor-text-explore {
        font-size: 15px;
    }

    .section7-elementor-spacer-inner {
        height: 0px;
    }

    .key-services-list p {
        top: 62px;
        left: 37px;
        font-size: 16px;
      }
}
