<div class="main">
    <nz-carousel nzAutoPlay class="slide">
        <!-- <div nz-carousel-content *ngFor="let index of img"> -->
        <!-- <div nz-carousel-content> -->
        <!-- {{ index }} -->
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity1">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/cyber_security2.jpg" alt="cybersecurity2">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/cyber_security3.jpg" alt="cybersecurity3">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/cyber_security4.jpg" alt="cybersecurity4">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/cyber_security5.jpg" alt="cybersecurity5">
        </div>
    </nz-carousel>


    <div nz-row class="section2">
        <div class="content-image" nz-col nzSpan="12">
            <img src="../../assets/img/cyber_security/our_agency.jpg" alt="cybersecurity3">
        </div>
        <div class="image-oppsite" nz-col nzSpan="12">
            <h3>About Us</h3>
            <p>
                Root Tronics Technologies is a leading IT services and consulting company.
                We provide solutions and services across application and technology
                modernization, cloud enablement, data management, automation and assurance
                services. For over 5 years now, we have been co-authoring transformational
                success for leading global enterprises and promising start-ups alike –
                across geographies and industry verticals.
            </p>
            <button class="content-button-default" nz-button [nzSize]="size" nzType="default" [routerLink]="['./aboutUs']">Read More</button>
        </div>
    </div>

    <div class="section3-elementor-spacer">
        <div class="section3-elementor-spacer-inner"></div>
        <h3 class="element-service">Kye Services</h3>
    </div>

    <div class="section4-elementor-spacer">
        <div class="section4-elementor-spacer-inner"></div>
    </div>

    <div nz-row class="key-service">
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
    </div>
    <div nz-row class="key-service">
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
    </div>
    <div nz-row class="key-service">
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
        <div nz-col nzSpan="8">
            <img src="../../assets/img/cyber_security/cyber_security1.jpg" alt="cybersecurity5">
        </div>
    </div>

    <div class="main-content-slider">
        <div class="element-heading">
            <h3>Root Tronics in the News</h3>
        </div>
        <div nz-row class="section5">
            <div nz-col nzSpan="12" class="section5-content-slider">
                <h3>Cloud ERP - Should Small And Meidum Bussiness Embrace It?</h3>
                <p>
                    When a SMB starts operating, it works on tools such as spreadsheets
                    and collaborates over readily available free tools. While this is a
                    prudent approach to save costs initially, it often impacts the growth
                    prospects and progress of the business…
                </p>
                <button class="" nz-button [nzSize]="size" nzType="default">Read More</button>
            </div>
            <div nz-col nzSpan="12" class="section5-slider">
                <nz-carousel nzAutoPlay class="slide">
                    <div nz-carousel-content>
                        <img src="../../assets/img/cyber_security/Cloud-Computing.jpg" alt="cybersecurity1" width="100%">
                    </div>
                    <div nz-carousel-content>
                        <img src="../../assets/img/cyber_security/cybersecurity.jpg" alt="cybersecurity2" width="100%">
                    </div>
                    <div nz-carousel-content>
                        <img src="../../assets/img/cyber_security/skills.jpg" alt="cybersecurity3" width="100%">
                    </div>
                </nz-carousel>
            </div>
        </div>
    </div>
    <div class="bg-img">
        <div class="section6-elementor-spacer">
            <div class="section6-elementor-spacer-inner"></div>
        </div>    
        <div class="background-image-content">
            <h3 class="elementor-text-editor">
                Knowledge Hub
            </h3>
            <div class="elementor-text-explore">
                Explore new insights. See tangible results.
            </div>
        </div>
        <div class="sectionimg-elementor-spacer">
            <div class="sectionimg-elementor-spacer-inner"></div>
        </div>
    </div>

    <div class="background-imageon">
        <div nz-row>
            <div nz-col nzSpan="8">
                <div class="background-image-size">
                    <div>
                        <img src="../../assets/img/cyber_security/Blog-Image_Cloud_11.jpg" alt="cybersecurity3">
                    </div>
                    <div>
                        <h3>Should Enterprises take their HR systems to the Cloud?</h3>
                        <p>The year 2020 has compelled enterprises to digitize their key</p>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="background-image-size">
                    <div>
                        <img src="../../assets/img/cyber_security/Blog-Image_Technology-12.jpg" alt="cybersecurity3">
                    </div>
                    <div>
                        <h3>Top 8 Technology Trends That Will Drive Growth in the Insurance Industry</h3>
                        <p>The insurance sector was a late bloomer when it came</p>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="background-image-size">
                    <div>
                        <img src="../../assets/img/cyber_security/Blog-Image1_Cybersecurity.jpg" alt="cybersecurity3">
                    </div>
                    <div>
                        <h3>Top Open-source Intelligence tools to boost your organization’s Cybersecurity</h3>
                        <p>In our daily lives, we search for a lot of</p>
                    </div>
                </div>
            </div>
        </div>

        <div nz-row nzJustify="center">
            <button nz-button [nzSize]="size" nzType="default">Read More</button>
        </div>
    </div>

    <div class="section7-elementor-spacer">
        <div class="section7-elementor-spacer-inner"></div>
    </div> 

    <div nz-row nzJustify="center" class="clover-academy">
        <div nz-col>
            <h3>Root Tronics Academy</h3>
        </div>
    </div>

    <div class="section7inner-elementor-spacer">
        <div class="section7inner-elementor-spacer-inner"></div>
    </div> 

    <div class="elementor-section">
        <div nz-row>
            <div nz-col [nzSpan]="16" [nzPush]="8" class="element-section-txt">
                <p>
                    The widening lacunae between what is taught in colleges and what the industry
                    expects needs immediate attention. Root Tronics Academy – our knowledge and training
                    arm is equipped with industry approved pedagogy, expert faculty,
                    and state-of-the-art digital learning facilities to address this need. We recruit
                    fresh talent, especially from Tier-2 and Tier-3 cities, and train them through
                    an extensive program to enhance their new-age technology capabilities, and
                    soft-skills. In ten years since inception, Root Tronics Academy has created the most
                    well-rounded IT professionals who manage critical projects and divisions at Root
                    Tronics as well as some of the most reputed global corporations.
                </p>
                <div nz-row>
                    <button nz-button [nzSize]="size" nzType="default">Read More</button>
                </div>
            </div>
            <div nz-col [nzSpan]="8" [nzPull]="16" class="section7-image">
                <img src="../../assets/img/cyber_security/Man-2.png" alt="man">
            </div>
        </div>
    </div>


    <div class="section8-elementor-spacer">
        <div class="section8-elementor-spacer-inner"></div>
    </div>

    <div class="elementor-img-content">
        <div class="section8top-elementor-spacer">
            <div class="section8top-elementor-spacer-inner"></div>
        </div>
        <div nz-row class="elementor-img-with-content">
            <div nz-col nzSpan="6" class="elementor-heading">
                <h3>Our Partners</h3>
            </div>
            <div nz-col nzSpan="4" class="elementor-heading">
                <img src="../../assets/img/cyber_security/tsit-client-img.jpg" alt="tsit-client-img">
            </div>
            <div nz-col nzSpan="4" class="elementor-heading">
                <img src="../../assets/img/cyber_security/intellect-client-img.jpeg" alt="intellect-client-img">
            </div>
            <div nz-col nzSpan="4" class="elementor-heading">
                <img src="../../assets/img/cyber_security/infy-client-logo.jpg" alt="infy-client-logo">
            </div>
        </div>
        <div class="sectionbottom-elementor-spacer">
            <div class="sectionbottom-elementor-spacer-inner"></div>
        </div>
    </div>
</div>