<div class="main">
    <nz-carousel nzAutoPlay class="slide">
        <!-- <div nz-carousel-content *ngFor="let index of img"> -->
        <!-- <div nz-carousel-content> -->
        <!-- {{ index }} -->
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/app_services_header.jpg" alt="app_services_header">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/ai.jpg" alt="ai">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/automation.jpg" alt="automation">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/cloud.jpg" alt="cloud">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/digital_commerce.jpg" alt="digital_commerce">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/scm.jpg" alt="scm">
        </div>
        <div nz-carousel-content>
            <img src="../../assets/img/cyber_security/resource_mngt.jpg" alt="resource_mngt">
        </div>
    </nz-carousel>


    <div nz-row class="section2">
        <div class="content-image" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <img src="../../assets/img/cyber_security/our_agency.jpg" alt="cybersecurity3">
        </div>
        <div class="image-oppsite" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <h3>About Us</h3>
            <p>
                <b>Root Tronics Technologies</b> is a leading IT services and consulting company,
                funded by <b>Royal International</b>. Royal International is a big logistics organization, which is provide the services in packaging and moving IT Infrastructure assets, having 300 million INR.
                We provide solutions and services across application and technology
                modernization, cloud enablement, data management, automation and assurance
                services. For over 5 years now, we have been co-authoring transformational
                success for leading global enterprises and promising start-ups alike –
                across geographies and industry verticals.
            </p>
            <button class="content-button-default" nz-button [nzSize]="size" nzType="default" [routerLink]="['./aboutUs']">Read More</button>
        </div>
    </div>

    <div class="section3-elementor-spacer">
        <div class="section3-elementor-spacer-inner"></div>
        <h3 class="element-service">Kye Services</h3>
    </div>

    <div class="section4-elementor-spacer">
        <div class="section4-elementor-spacer-inner"></div>
    </div>

    <div nz-row class="key-service">
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/application-services']">
           <!-- <p>Application Services</p>-->
            <img src="../../assets/img/cyber_security/ap_smal_pic.jpg" alt="ap_smal_pic">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/artificial-intelligence']">
          <!--  <p>Artificial Intelligence</p>-->
            <img src="../../assets/img/cyber_security/ai_smal_pic.jpg" alt="ai_smal_pic">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/automation']">
          <!--  <p>Automation</p>-->
            <img src="../../assets/img/cyber_security/automation_smal_pic.jpg" alt="automation_smal_pic">
        </div>
    </div>

    <div nz-row class="key-service">
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/cloud']">
          <!--  <p>Cloud</p>-->
            <img src="../../assets/img/cyber_security/cloud_devops_small_pick.jpg" alt="cloud_devops_small_pick">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/data-analytics']">
          <!--  <p>Data Analytics</p>-->
            <img src="../../assets/img/cyber_security/data_analy_small_pick.jpg" alt="data_analy_small_pick">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/digital-commerce']">
          <!--  <p>Digital Commerce</p>-->
            <img src="../../assets/img/cyber_security/digital_commmerce_small_pick.jpg" alt="digital_commmerce_small_pick">
        </div>
    </div>
    <div nz-row class="key-service">
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/financ-consulting']">
         <!--   <p>Finance Consulting</p>-->
            <img src="../../assets/img/cyber_security/finance_cons_small_pick.jpg" alt="finance_cons_small_pick">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/infrastructure']">
          <!--  <p>Infrastructure</p>-->
            <img src="../../assets/img/cyber_security/infra_secur_small_pick.jpg" alt="infra_secur_small_pick">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/security']">
          <!--  <p>Security</p>-->
            <img src="../../assets/img/cyber_security/cyber_security.jpg" alt="cybersecurity">
        </div>
    </div>
    <div nz-row class="key-service">
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/supply-chain-finance']">
            <!-- <p>Supply Chain Finance</p>-->
            <img src="../../assets/img/cyber_security/scm_small_pick.jpg" alt="scm_small_pick">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/technology-consulting']">
         <!--    <p>Technology Consulting</p>-->
            <img src="../../assets/img/cyber_security/tech_consult_small_pick.jpg" alt="tech_consult_small_pick">
        </div>
        <div nz-col nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8" class="key-services-list" [routerLink]="['/about/technology-innovation']">
         <!--    <p>Need Resource Management</p>-->
            <img src="../../assets/img/cyber_security/tech_consult_small_pick.jpg" alt="tech_consult_small_pick">
        </div>
    </div>

    <div class="main-content-slider">
        <div class="element-heading">
            <h3>Root Tronics in the News</h3>
        </div>
        <div nz-row class="section5">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section5-content-slider">
                <h3>Cloud ERP - Should Small And Meidum Bussiness Embrace It?</h3>
                <p>
                    When a SMB starts operating, it works on tools such as spreadsheets
                    and collaborates over readily available free tools. While this is a
                    prudent approach to save costs initially, it often impacts the growth
                    prospects and progress of the business…
                </p>
                <button class="" nz-button [nzSize]="size" nzType="default">Read More</button>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <!-- <nz-carousel nzAutoPlay class="slide">
                    <div nz-carousel-content>
                        <img src="../../assets/img/cyber_security/Cloud-Computing.jpg" alt="cybersecurity1" width="100%">
                    </div>
                    <div nz-carousel-content>
                        <img src="../../assets/img/cyber_security/cybersecurity.jpg" alt="cybersecurity2" width="100%">
                    </div>
                    <div nz-carousel-content>
                        <img src="../../assets/img/cyber_security/skills.jpg" alt="cybersecurity3" width="100%">
                    </div>
                </nz-carousel> -->
                <nz-carousel [nzAutoPlay]="true">
                    <div nz-carousel-content *ngFor="let item of arrayOfImgUrls">
                      <img [src]='item' style="width: 100%; height: 100%"/>
                    </div>
              </nz-carousel>
            </div>
        </div>
        <!-- <nz-carousel [nzAutoPlay]="true">
            <div nz-carousel-content *ngFor="let item of arrayOfImgUrls">
              <img [src]='item' style="width: 100%;"/>
            </div>
      </nz-carousel> -->
    </div>
    <!-- <div class="bg-img">
        <div class="section6-elementor-spacer">
            <div class="section6-elementor-spacer-inner"></div>
        </div>    
        <div class="background-image-content">
            <h3 class="elementor-text-editor">
                Knowledge Hub
            </h3>
            <div class="elementor-text-explore">
                Explore new insights. See tangible results.
            </div>
        </div>
        <div class="sectionimg-elementor-spacer">
            <div class="sectionimg-elementor-spacer-inner"></div>
        </div>
    </div> -->

    <!-- <div class="background-imageon">
        <div nz-row>
            <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                <div class="background-image-size">
                    <div>
                        <img src="../../assets/img/cyber_security/Blog-Image_Cloud_11.jpg" alt="cybersecurity3">
                    </div>
                    <div>
                        <h3>Should Enterprises take their HR systems to the Cloud?</h3>
                        <p>The year 2020 has compelled enterprises to digitize their key</p>
                    </div>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                <div class="background-image-size">
                    <div>
                        <img src="../../assets/img/cyber_security/Blog-Image_Technology-12.jpg" alt="cybersecurity3">
                    </div>
                    <div>
                        <h3>Top 8 Technology Trends That Will Drive Growth in the Insurance Industry</h3>
                        <p>The insurance sector was a late bloomer when it came</p>
                    </div>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                <div class="background-image-size">
                    <div>
                        <img src="../../assets/img/cyber_security/Blog-Image1_Cybersecurity.jpg" alt="cybersecurity3">
                    </div>
                    <div>
                        <h3>Top Open-source Intelligence tools to boost your organization’s Cybersecurity</h3>
                        <p>In our daily lives, we search for a lot of</p>
                    </div>
                </div>
            </div>
        </div>

        <div nz-row nzJustify="center">
            <button nz-button [nzSize]="size" nzType="default">Read More</button>
        </div>
    </div> -->

    <div class="section7-elementor-spacer">
        <div class="section7-elementor-spacer-inner"></div>
    </div> 

    <div nz-row nzJustify="center" class="clover-academy">
        <div nz-col>
            <h3>Root Tronics Academy</h3>
        </div>
    </div>

    <div class="section7inner-elementor-spacer">
        <div class="section7inner-elementor-spacer-inner"></div>
    </div> 

    <div class="elementor-section">
        <div nz-row>
            <!-- <div nz-col [nzSpan]="16" [nzPush]="8" class="element-section-txt"> -->
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="element-section-txt">
                <p>
                    The widening lacunae between what is taught in colleges and what the industry
                    expects needs immediate attention. Root Tronics Academy – our knowledge and training
                    arm is equipped with industry approved pedagogy, expert faculty,
                    and state-of-the-art digital learning facilities to address this need. We recruit
                    fresh talent, especially from Tier-2 and Tier-3 cities, and train them through
                    an extensive program to enhance their new-age technology capabilities, and
                    soft-skills. In ten years since inception, Root Tronics Academy has created the most
                    well-rounded IT professionals who manage critical projects and divisions at Root
                    Tronics as well as some of the most reputed global corporations.
                </p>
                <div nz-row class="read-buttom">
                    <button nz-button [nzSize]="size" nzType="default">Read More</button>
                </div>
            </div>
            <!-- <div nz-col [nzSpan]="8" [nzPull]="16" class="section7-image"> -->
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="section7-image">
                <img src="../../assets/img/cyber_security/Man-2.png" alt="man" width="100%" height="100%">
            </div>
        </div>
    </div>


    <div class="section8-elementor-spacer">
        <div class="section8-elementor-spacer-inner"></div>
    </div>

    <div class="elementor-img-content">
        <div class="section8top-elementor-spacer">
            <div class="section8top-elementor-spacer-inner"></div>
        </div>
        <div nz-row class="elementor-img-with-content">
            <!-- <div nz-col nzSpan="6" class="elementor-heading"> -->
                <div nz-col nzXs="24" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="elementor-heading">
                <h3>Our Partners</h3>
            </div>
            <!-- <div nz-col nzSpan="4" class="elementor-heading"> -->
                <div nz-col nzXs="24" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="elementor-heading">
                <img src="../../assets/img/cyber_security/tsit-client-img.jpg" alt="tsit-client-img">
            </div>
            <!-- <div nz-col nzSpan="4" class="elementor-heading"> -->
                <div nz-col nzXs="24" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="elementor-heading">
                <img src="../../assets/img/cyber_security/intellect-client-img.jpeg" alt="intellect-client-img">
            </div>
            <!-- <div nz-col nzSpan="4" class="elementor-heading"> -->
                <div nz-col nzXs="24" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="elementor-heading">
                <img src="../../assets/img/cyber_security/infy-client-logo.jpg" alt="infy-client-logo">
            </div>
        </div>
        <div class="sectionbottom-elementor-spacer">
            <div class="sectionbottom-elementor-spacer-inner"></div>
        </div>
    </div>
</div>